services:
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: event_elastic_container
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - "9200:9200"
    restart: always
  redis:
    image: redis:7-alpine
    container_name: event_redis_container
    ports:
      - "6379:6379"
    restart: always
  db:
    image: postgres:15
    container_name: event_db_container
    restart: always
    environment:
      POSTGRES_USER: vova_admin
      POSTGRES_PASSWORD: supertopsecret123
      POSTGRES_DB: event_space_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: